*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

span{
	color: #d4af37;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #d4af37;
	transition: .4s;
}
.btn{
	background-color: #d4af37;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}


h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #d4af37;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#d4af37;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button{
	background-color:#d4af37;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #d4af37;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 600px;
	width: 400px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #d4af37;

}
.movie {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#d4af37;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #d4af37;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#d4af37;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #d4af37;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #d4af37;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#d4af37;
	bottom: 35px;
	font-size: 14px; 
}
.rating {
	display: inline-block;
	position: relative;
	height: 0px;
	line-height: 5px;
	font-size: 25px;
  }
  
  .rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 0%;
	cursor: pointer;
  }
  
  .rating label:last-child {
	position: static;
  }
  
  .rating label:nth-child(1) {
	z-index: 5;
  }
  
  .rating label:nth-child(2) {
	z-index: 4;
  }
  
  .rating label:nth-child(3) {
	z-index: 3;
  }
  
  .rating label:nth-child(4) {
	z-index: 2;
  }
  
  .rating label:nth-child(5) {
	z-index: 1;
  }
  
  .rating label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 0%;
  }
  
  .rating label .icon {
	float: left;
	color: transparent;
	
  }
  
  .rating label:last-child .icon {
	color:white;
	
	
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
	color: #d4af37;
	
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
	color: #000000;
	text-shadow: 0 0 5px #09f;
	
  }

  /*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" );

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}
:root{
    --main-color :#ff2c1f;
    --text-color: #020307;
    --bg-color :#fff
}
body {
    background: white;
    color: Black;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background: black;
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: #d4af37;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

    .logo .bx {
        font-size: 24px;
        color: #d4af37;
    }

.navbar {
    display: flex;
    column-gap: 5rem;
}

    .navbar li {
        position: relative;
    }

    .navbar a {
        font-size: 1rem;
        font-weight: 500;
        color: var(--bg-color);
    }

        .navbar a::after {
            content: '';
            width: 0;
            height: 2px;
            background: #d4af37;
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: 0.4s all linear;
        }

        .navbar a:hover::after,
        .navbar .home-active::after{
            width:100%;
        }

#menu-icon {
            font-size: 24px;
            cursor: pointer;
            z-index: 1000001;
            display:none;
            
        }
.btn{
       padding: 0.7rem 1.4rem;
       background:#d4af37;
       color:var(--bg-color);
       font-weight:400;
       border-radius:0.5rem;
}
        .btn:hover{
            background: #c7a63b;
        }
table{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
}
th, td {
    text-align: left;
    padding: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}



.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

